.track {
  position: relative;
  width: 100%;
  padding: 100px 0;
  border: 1px solid #000;
  background: #f4f4f4;
}

.track::after {
  content: "";
  background-color: red;
  position: absolute;
  width: 10px;
  right: 40px;
  top: 0;
  bottom: 0;
}

.horse {
  z-index: 1;
  position: absolute;
  /* transform: translateY(-50%); */
  cursor: pointer;
  font-size: 24px;
}
